GEMINI_API_KEY=
MELIPAYAMAK_BODY_ID=
MELIPAYAMAK_PASSWORD=
MELIPAYAMAK_USERNAME=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_URL=
ZARINPAL_CALLBACK_URL=
ZARINPAL_MERCHANT_ID=
